@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Pleasant background color */
    background-size: cover;
    background-position: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #0a0a0a 0%, #0a0a0a 100%);
    opacity: 0.7; /* Semi-transparent overlay */
}

.container {
    position: relative;
    z-index: 1; /* Ensure content appears above the background */
    text-align: center; /* Center align content */
    width: 400px;
    max-width: 90%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
}

h1 {
    color: #fff; /* Text color */
}

.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
    color: #fff;
}

.search-box input {
    width: calc(100% - 50px);
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 0 20px;
}

.search-box input::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.search-box button {
    width: 50px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}

.weather-box img {
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.weather-box .temperature {
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0;
    color: #fff;
}

.weather-box .temperature span {
    font-size: 20px;
    font-weight: 400;
    margin-left: 4px;
    color: #fff;
}

.weather-box .description {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}

.weather-details {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    margin-top: 40px;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.weather-details i {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
}

.weather-details span {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.weather-details p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
